$def with (view)
$# Base view definition.
$#
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="$helper.site_url()" />
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/us.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>URL Shortener</title>
</head> 
<body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="$helper.site_url()">
                        dhwebco URL shortener
                    </a>
					
					<div class="generate-form">
						<form class="form-inline" method="post" action="$helper.site_url('/shorten')">
							<input type="text" name="url" class="input-xlarge" placeholder="URL to Shorten">							
							<button type="submit" class="btn">Shorten!</button>
						</form>
					</div>
                </div>
            </div>
        </div>
	<div class="container">
		$:helper.print_flash()
        <div class="content">
            $:view
        </div>
	</div>
</body>
</html>

